body{
      background-color: rgb(25, 25,25);
      color: white;
      font-family: Arial, Helvetica, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    .game-container{
      text-align: center;
      padding: 50px;
      background-color: rgb(20, 17, 17);
      border-radius: 20px;
      box-shadow: 0 0 25px rgba(225,225,225 ,0.1);
    }
    .title{
      font-size: 30px;
      font-weight: bold;
    }
    .move-icon{
      height: 50px;
    }
    .buttons{
      display: flex;
      justify-content: center;
      gap: 15px;
      margin-top: 20px;
    }
    .move-button{
      background-color: transparent;
      border: 3px solid white;
      height: 120px;
      width: 120px;
      border-radius: 60px;
      margin-right: 10px;
      cursor: pointer;
      transition: all 0.2s ease;
    }
    .move-button:hover{
        background-color: rgb(240, 230, 230);
        transform: scale(1.1);
    }
    .pressed{
       background-color: rgb(240, 230, 230);
        transform: scale(1.1);
    }

    .result{
      font-size: 25px;
      margin-top: 50px;
      font-weight: bold;
    }
    .score{
      margin-top: 60px;
    }
    .reset-button{
      background-color: white;
      font-size: 15px;
      padding: 8px 15px;
      border: none;
      cursor: pointer;
    }